<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="Default" connectionString ="Data Source=C:\Users\ethan\OneDrive - Bridgwater and Taunton College\ComputingFolders\Y1\SoftwareFundamentals\Assessments\SoftwareArtefact\LibrarySystem\LibrarySystem\DataAccess\LibraryDB.db;version=3;" providerName="system.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
